<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<title>数据中心</title>   
	<link rel="stylesheet" href="{$smarty.const.SMARTY_CSS_URL}/bootstrap.min.css">
	<link rel="stylesheet" href="{$smarty.const.TOOLS}/easyui/themes/default/easyui.css">  
    <link rel="stylesheet" href="{$smarty.const.TOOLS}/easyui/themes/icon.css"> 
    <link rel="stylesheet" href="{$smarty.const.SMARTY_CSS_URL}/scb-change-public.css">  
    <script type="text/javascript" src="{$smarty.const.SMARTY_JS_URL}/jquery.min.js"></script>
<style>

.table td,th{
    text-align: center;
    vertical-align:middle !important;
}
.form-group{
    display:inherit !important;
    margin: 5px;
}

.datagrid-header span {     
	font-size:16px !important; 
}  
.datagrid-header-row {       
	height: 30px; 
}
.datagrid-cell{
	font-size:14px; 
}


</style>
</head>
<body>
	
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="back.html" class="navbar-brand">转换记录后台</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-left" style="min-width:350px;">
				<li><a href="{U('back')}">用户管理</a></li>　
				<li><a href="{U(machine)}">机台管理</a></li>
				<li class="active"><a href="{U('data')}">数据中心</a></li>
				<li><a href="{U('loginout')}">退出</a></li> 
			</ul>
			<ul class="nav navbar-nav navbar-right" style="max-height:50px;">
				<li><a>你好！{$name}</a></li>　
			</ul>	
		</div>
	</div>
</nav>
<div class="content">
	<div class="container" >
		<div class="panel panel-primary">
		    <div class="panel-heading">查询条件</div>
	        <div class="panel-body">
	            <form role="form" class="form-inline" id="search">
	            	<div class="form-group">
					    <label class="control-label">时间段：</label>
					    <input type="text" class="form-control time time_left" name="time_left" style="width:150px;">－
					    <input type="text" class="form-control time time_right" name="time_right" style="width:150px;">
					</div>

	                <div class="form-group">
	                   <label class="control-label">车间：　</label>
	                   {createBootstrapSelect("scb_change_group","group","id","group_name")}                
	                </div>
	                <br>
	                <div class="form-group">
	                	<button type="button" class="btn btn-primary" id="search_btn">查询</button>
	                	<button type="button" class="btn btn-primary" id="export_btn">导出</button>        
	                	<button type="button" class="btn btn-primary" id="export_year_btn">年汇总</button>        
	                </div>
	                <br>             
	            </form>
	        </div>
	    </div>
	
	   <div id="data">	
	   </div>	
	
	
	</div>
</div>





</body>
</html>
<script type="text/javascript" src="{$smarty.const.TOOLS}/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="{$smarty.const.TOOLS}/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="{$smarty.const.SMARTY_JS_URL}/bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.SMARTY_JS_URL}/scb_public.js"></script>
<script>
$(function(){
	
$('.time').datebox({
		editable:false,
		showSeconds:false,
	});
readyTime();


})
//初始化时间段
function readyTime(){
	var time = new Date(); 
	var year=time.getFullYear();
	var month=time.getMonth()+1;
	var end_day=getLastDay(year,month);
	var left_time=year+"-"+month+"-1";
	var right_time=year+"-"+month+"-"+end_day;
	$('.time_left').datebox('setValue',left_time);
	$('.time_right').datebox('setValue',right_time);
}
//获得月最后一天  
function getLastDay(year,month) {         
     var new_year = year;          
     var new_month = month++;       
     if(month>12) {         
      new_month -=12;             
      new_year++;              
     }         
     var new_date = new Date(new_year,new_month,1);                       
     return (new Date(new_date.getTime()-1000*60*60*24)).getDate();       
}  
//查询
$("#search_btn").click(function(){
	$.post("{U(data)}",$("#search").serialize(),function(res){
		if(res=="0")
		{
			$("#data").empty();
			$("#data").append("<h4 style='text-align:center;'>「未查找到相关数据,请重新设置查询条件」</h4>");
		}else{
			$("#data").empty();
			$("#data").append("<table id='tb'></table>");
			var time_left=$("input[name='time_left']").val();
			var time_right=$("input[name='time_right']").val();
			var group=$("select[name='group']").val();
			$("#tb").datagrid({
				singleSelect : true,
				fitColumns:true,
				url:"{U(data)}",
				queryParams:{
					'time_left':time_left,
					'time_right':time_right,
					'group':group,
				},
				columns : [[
					{ field : 'date',title : '日期',sortable:true, },
					{ field : 'time_left',title : '起始时间', },
					{ field : 'time_right',title : '结束时间', },
					{ field : 'machine',title : '机台', },
					{ field : 'decimal',title : '耗时(小时)', },
					{ field : 'name',title : '机长',sortable:true, },
					{ field : 'group_name',title : '车间', },
					{ field : 'old',title : '原产品', },
					{ field : 'new',title : '更换产品', },
					{ field : 'standard',title : '标准产量', },
					{ field : 'supply',title : '补产产量', },
					{ field : '8h_biaozhun',title : '8h标准产量', },
					{ field : 'sunshi',title : '产量损失', },
				]],
				remoteSort:false,//服务器排序
				pagination : true,
				pageSize : 1000,
				pageList : [1000],
			});
		}
	})
});

/*
 * 导出
 */	
 $('#export_btn').click(function(){
	var time_left=$("input[name='time_left']").val();
	var time_right=$("input[name='time_right']").val();
	var group=$("select[name='group']").val();
	var group_name=$("select[name='group']").find("option:selected").text();
	var msg="你需要导出"+time_left+"到"+time_right+"<br><font color='red'>"+group_name+"</font>的数据吗？";
	$.messager.confirm('提示',msg, function (flag) 
	{ 
		if (flag) {
			$.post("{U('export')}",$("#search").serialize(),function(res){
				if(res)
				{
					url="{$smarty.const.SELF_URL}"+res.url;
					$("body").append(creatModal("download","下载链接","420px"));
					var text="<a href='"+url+"'>"+res.filename+"</a>";	
					$(".download .modal-body").append(text);
					$(".download").modal("show");
					keep_body();
				}
			},"json");
		}
	});
});

/*
 * 年汇总模态框
 */
$("#export_year_btn").click(function(){
	$("body").append(creatModal("year_modal","请选择时间","300px"));
	$(".year_modal").modal("show");
	keep_body();
	$(".year_modal .modal-body").append("<select name='year_select' class='year_select form-control'></select>");
	date();
	$(".year_modal .modal-footer").append(creatInput("button","year_btn btn btn-primary","","提交"));
});
$(document).on("click", ".year_btn", function() {
	var year=$(".year_select").val();
	var msg="你需要导出"+"<font color='red'>"+year+"</font>的数据吗？";
	$.post("{U('export_year')}",{ 'year':year },function(res){
		if(res)
			{
				$(".year_modal .close").click();
				url="{$smarty.const.SELF_URL}"+res.url;
				$("body").append(creatModal("download","下载链接","420px"));
				var text="<a href='"+url+"'>"+res.filename+"</a>";	
				$(".download .modal-body").append(text);
				$(".download").modal("show");
				keep_body();
			}
	},"json");
});
//年下拉
function date(){
	var url="{U('date')}";
	$.post(url,function(msg){
		var arr_year=msg.arr_year;
		var now_year="{$smarty.get.year}"?"{$smarty.get.year}":msg.now_year;
		for(var y in arr_year){
			var newop=new Option(arr_year[y],y);
			if(y==now_year){
				newop.selected="selected";
			}
			$('.year_select')[0].options.add(newop);
		}
	},'json');
}
	
</script>



