.table td,th{
		text-align: center;
		vertical-align:middle !important;
	}
a{
	text-decoration:none !important;
}

body{
	height:100%;
	width:100%;
    font-size: 13px;
	/*background:#F3F3F4 !important;*/
}
.head_div{
	border: solid #1c94c4 1px;
	background-color:#E8F2FC;
	padding: 4px 0;
}
.head_div2{
	border: solid #1c94c4 1px;
	background-color:#E8F2FC;
	padding: 4px 0;
	margin: 4px 0;
}
.div_search{
    font-size: 13px;
    margin: 10px 5px;
    padding-left: 10px;
    line-height: 30px;
    background-color: #E8F2FC;
    border: solid #1c94c4 1px;
    overflow: hidden
}
.table_a{
    border-collapse:collapse;
    border: 1px solid #E3E6EB;
}
.table_a td{
    line-height: 25px;
    text-align: left;
}
.div_head{
    font-size: 13px;
    margin: 0px 0px;
    padding-left: 10px;
    line-height: 25px;
    height:25px;
    background-color: #E8F2FC;
    border-bottom: solid #1c94c4 1px
}

.select{
	font-size: 13px;
	margin: 0px 0px;
	padding-left: 10px;
	line-height: 40px;
	height: 40px;
	background-color: #E8F2FC;
	border: solid #1c94c4 1px;
	overflow: hidden;
}
/*禁用的span*/
.disable_span{
	cursor: not-allowed;
	color:#b3b2b2;
}