<script type="text/javascript" src="<?php echo ADMIN_JS_URL;?>/hiui/layer/2.4/layer.js"></script>
<script type="text/javascript" src="<?php echo ADMIN_JS_URL;?>/hiui/layui/layui.js"></script>
<script type="text/javascript" src="<?php echo ADMIN_JS_URL;?>/hiui/H-ui.min.js"></script>
<script type="text/javascript" src="<?php echo ADMIN_JS_URL;?>/hiui/H-ui.admin.js"></script> 
<script type="text/javascript" src="<?php echo ADMIN_JS_URL;?>/hiui/jquery.validation/jquery.validate.js"></script>
<script type="text/javascript" src="<?php echo ADMIN_JS_URL;?>/hiui/jquery.validation/validate-methods.js"></script>
<script type="text/javascript" src="<?php echo ADMIN_JS_URL;?>/hiui/jquery.validation/messages_zh.js"></script>