<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<script>
</script>
<link rel="stylesheet" href="{$smarty.const.SMARTY_CSS_URL}/calendar.css">
<link rel="stylesheet" href="{$smarty.const.SMARTY_CSS_URL}/plan.css">
<link rel="stylesheet" href="{$smarty.const.SMARTY_CSS_URL}/upload.css">
<script type="text/javascript" src="{$smarty.const.SMARTY_JS_URL}/jquery.min.js"></script>
<script src="{$smarty.const.SMARTY_JS_URL}/calendar.js"></script> 

<style type="text/css">
.white{
	margin:-2px 15px;
}
.progress{
	height: 27px;
	width:200px;
	float:left;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar{
	height: 100%;
	font-size: 12px;
	line-height: 27px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
</style>
<title>质询会表格</title>
</head>
<body>
<form action="{$smarty.const.__CONTROLLER__}/weekhbadd" method="POST" enctype="multipart/form-data">
	<table id="out" cellspacing="0" cellpadding="0" border="0">
		<!--大表第一行基本信息-->
		<tr>    
			<td>
				<table id="userinfo"  cellspacing="0" cellpadding="0" border="0">
					<thead>
						<tr>
							<td colspan="13" class="head">基本信息</td>
						</tr>
					</thead>
					<tbody>
						<tr >
							<td class="jiben_title">
								<div class="jiben_title_div">主题:</div>
							</td>
							<td  colspan="11" >
								<input type="text" class="head_zt readonly" value="{$data['theme']}" readonly="" name="theme">
							</td>					
						</tr>
						<tr>
							<td class="jiben_title">
								<div class="jiben_title_div">序号:</div>
							</td>
							<td class="jiben_content">
								<input type="text" value="{$data['number']}" readonly="" name="number" class="readonly"/>
							</td>				
							<td class="jiben_title">填表人:</td>				
							<td class="jiben_content">
								<input type="text" value="{$data['name']}" readonly="" name="name" class="readonly"/>
							</td>	
							<td class="jiben_title">部门:</td>	
							<td class="jiben_content">
								<input type="text" value="{$data['dept']}" readonly="" name="dept" class="readonly"/>
							</td>													
							<td class="jiben_title">填表日期:</td>	
							<td class="jiben_content">
								<input type="text" value="{$data['writetime']}"  readonly=""  name="writetime" class="readonly"/>
							</td>													
							<td class="jiben_title">开始日期:</td>	
							<td class="jiben_content">
								  <input type="text" id="jiben_time"  class="readonly" readonly name="starttime" value="{$data['starttime']}" />
								  <div id="jiben_time1"></div>
							</td>													
							<td class="jiben_title" >结束日期:</td>	
							<td class="jiben_content">
								<input type="text" id="jiben_endtime" class="readonly" readonly name="endtime" value="{$data['endtime']}"/>
								<div id="jiben_endtime1"></div>
							</td>	
							<td>
								<!--父表id-->
								<input type="hidden" name="pid" value="{$data['id']}">							
							</td>							
						</tr>
						<tr> 
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<!--大表第二行保存按钮-->
		<tr height="40px">
			<td width="300px">
				<div class="out_btn">
					<input type="submit" value="提交" class="jiben_submit"/>
					<div class="uploader white">
						<input type="text" class="filename form-control" readonly/>
						<input type="button" class="button" value="附件"/>
						<input type="file" size="30" name="upload" id="upload"/>
						<!--接收路径-->
						<input type="hidden" name="upload" id="upload_url">
					</div>
				</div>
				<div class="progress hide">
					<div class="progress-bar" style="width:0%;">0%</div>
				</div>
				<span style="display:none;line-height:26px;" id="jiben_warning">
					<font color="red" style="font-size:17px;"></font>
				</span>
			</td>
		</tr>
		<!--大表第四行：周计划表单-->
		<tr id="week_plan">
			<td>
				<div class="con_out">
					<fieldset>
					<legend style="margin-left:10px;">周汇报表单</legend>
					<table id="content" cellspacing="0" cellpadding="0" border="0">
						<thead>
							<tr>
								<td colspan="13" class="head">
									<div style="height:20px;width:70px;float:left;	cursor:pointer;">
										<span class="con_add_img1"></span><input type="button" class="con_add" value="新增">
									</div>	
									<div style="height:20px;width:70px;float:left;margin-left:5px;	cursor:pointer;">
										<span class="con_add_img2"></span><input type="button" class="con_del" value="删除">
									</div>
									<div style="height:20px;width:70px;float:left;margin-left:5px;	cursor:pointer;">
										<span class="con_add_img3"></span><input type="button" class="con_moveup" value="上移">
									</div>

								</td>
							</tr>
						</thead>
						<tbody id="con">
							<tr class="con_tr1">
								<td class="con_title"  width="20px"><input type="checkbox" id="con_select"></td>
								<td width="40px">序号</td>
								<td width="85px">业务模块</td>
								<td width="400px">二级模块</td>
								<td width="250px">结果定义</td>
								<td width="80px">时间</td>
								<td width="80px">过程</td>
								<td width="80px">结果</td>
								<td width="200px">未完成原因</td>
								<td width="200px">解决措施</td>
								<td width="35px">重点</td>
								<td sytle="border-right:none;" width="200px">备注</td>
							</tr>
							<!--用来装内容的tr-->
							<tr class="con_tr2 hide">
								<td>
									<input type="checkbox" class="ckbox readonly" readonly></td>
								<td>
									<!--序号栏-->
									<input type="text" class="xuhao" readonly name="xuhao[]" >
								</td>
								<td style="position:relative;">	
									<!--业务模块和下拉-->
									<div class="con_model">
										<input type="text" name="ywmodel[]"  class="readonly" readonly></input>
									</div>
									<div class="con_model1">
										<ul>
											<li>团队管理</li>
											<li>客户价值</li>
											<li>安全</li>
											<li>机制</li>
											<li>文化</li>
											<li>个人成长</li>
											<li>KPI指标</li>
											<li>其他业务</li>
										</ul>
									</div>
								</td>
								<!--二级模块-->
								<td>								
									<input type="text" value="" class="con_ejmk readonly" readonly name="ejmodel[]">
								</td>
								<!--结果定义-->
								<td>
									<input type="text" value="" class="con_jgdy readonly" readonly name="result[]">
								</td>
								<!--时间-->
								<td style="position:relative;">
									<div class="con_time">
										<input type="text" name="statustime[]" class="readonly" readonly></input>
									</div>
									<div class="con_time1">
										<ul>
											<li>周一</li>
											<li>周二</li>
											<li>周三</li>
											<li>周四</li>
											<li>周五</li>
											<li>周六</li>
											<li>周日</li>
										</ul>
									</div>
								</td>		
								<!--过程-->				
								<td style="position:relative;">			
									<div class="con_status">
										<input type="text" name="status[]" class="readonly" readonly></input>
									</div>
									<div class="con_status1">
										<ul>
											<li>持续中</li>
											<li>已完成</li>
											<li>未完成</li>
										</ul>
									</div>
								</td>
								<!--结果-->				
								<td style="position:relative;">			
									<div class="con_status">
										<input type="text" name="jieguo[]"></input>
									</div>
									<div class="con_status1">
										<ul>
											<li>持续中</li>
											<li>已完成</li>
											<li>未完成</li>
										</ul>
									</div>
								</td>
								<!--未完成原因-->								
								<td class="con_yuanyin">
									<input type="text" value="" class="con_yy" name="yuanyin[]">						
								</td>
								<!--解决措施-->								
								<td class="con_cuoshi">
									<input type="text" value="" class="con_cs" name="cuoshi[]">						
								</td>
								<!--是否重点-->								
								<td class="con_sfzd">
									<input type="checkbox" value="是" name="zd[]" class="readonly">				
									<input type="checkbox" value="否" name="zd[]" checked="checked" class="hide">				
								</td>
								<!--备注-->							
								<td>
									<input type="text" value="" class="con_bz" name="remark[]">
								</td>						
							</tr>
						</tbody>
					</table>
					</fieldset>
				</div>	
			</td>
		</tr>
		<!--*********************************************************-->
		<input type="hidden" name="samaccountname" value="{$data['samaccountname']}">		
	</table>
</form>
<script type="text/javascript" src="{$smarty.const.SMARTY_JS_URL}/zxh_hb.js"></script>
<script src="{$smarty.const.SMARTY_JS_URL}/zxh_public.js"></script>
<script type="text/javascript">
	
	//初始化
	 $().ready(function(){
	{*下标1开循环8次  *}
	{section loop=$data name='key' start='1' max=$line}
		var $newtr=$('#content tr:eq(2)').clone(true);
		$newtr.removeClass('hide');
		var xuhao="{$data['xuhao'][key]}";
		var ywmodel="{$data['ywmodel'][key]}";
		var ejmodel="{$data['ejmodel'][key]}";
		var result="{$data['result'][key]}";
		var statustime="{$data['statustime'][key]}";
		var status="{$data['status'][key]}";
		var zd="{$data['zd'][key]}";
		var remark="{$data['remark'][key]}";
		//如果是重点则加红色class并且勾选重点
		if(zd=="是"){
			$newtr.find('td:eq(1) input').val(htmlspecialchars_decode(xuhao)).addClass('zd');
			$newtr.find('td:eq(2) input').val(htmlspecialchars_decode(ywmodel)).addClass('zd');
			$newtr.find('td:eq(3) input').val(htmlspecialchars_decode(ejmodel)).addClass('zd');
			$newtr.find('td:eq(4) input').val(htmlspecialchars_decode(result)).addClass('zd');
			$newtr.find('td:eq(5) input').val(htmlspecialchars_decode(statustime)).addClass('zd');
			$newtr.find('td:eq(6) input').val(htmlspecialchars_decode(status)).addClass('zd');
			//勾选重点并且取消隐藏的勾选
			$newtr.find('td:eq(10) input:eq(0)').attr("checked","checked").next().attr("checked",false);		
			$newtr.find('td:eq(10) input').val(htmlspecialchars_decode(zd)).addClass('zd');
			$newtr.find('td:eq(11) input').val(htmlspecialchars_decode(remark)).addClass('zd');
			$('#content').append($newtr);
		}else{
			$newtr.find('td:eq(1) input').val(htmlspecialchars_decode(xuhao));
			$newtr.find('td:eq(2) input').val(htmlspecialchars_decode(ywmodel));
			$newtr.find('td:eq(3) input').val(htmlspecialchars_decode(ejmodel));
			$newtr.find('td:eq(4) input').val(htmlspecialchars_decode(result));
			$newtr.find('td:eq(5) input').val(htmlspecialchars_decode(statustime));
			$newtr.find('td:eq(6) input').val(htmlspecialchars_decode(status));		
			$newtr.find('td:eq(11) input').val(htmlspecialchars_decode(remark));
			$('#content').append($newtr);
		}
	{/section}
	 });
	 /*
	  * 上传
	  */
	$(function(){
		$("input[type=file]").change(function(){
			//1、判断upload_url有没有 有则删除之前的文件
			if($('#upload_url').val()!=""){
				var file=$('#upload_url').val();
				var url = "{$smarty.const.__CONTROLLER__}/del_upload";
				$.post(url,{ 'file':file },function(){});
			}
			//先把file加上name属性做ajax上传用
			$("#upload").attr("name","upload");
			$('#jiben_warning').hide();
			var filename=$(this).val();
			var suffix=filename.substring(filename.length-4);
			suffix=suffix.toLowerCase();//转小写
			if(suffix==".zip" || suffix==".rar"){
				$(this).parents(".uploader").find(".filename").val($(this).val());
				//是RAR的则ajax上传
				upload_file();	
			}else{
				alert('请上传RAR或者ZIP格式的压缩文件！');
				$(this).val("");
			}
		});
	});
	
	function upload_file(){
		$('.progress').removeClass('hide');		
		$('.progress-bar').css('width',0);	
		var fm = $('form')[0]; 
		var url = "{$smarty.const.__CONTROLLER__}/weekhb_upload"; 
        // FormData 对象
        var form = new FormData(fm);
        // XMLHttpRequest 对象
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
     		if(xhr.readyState==4 && xhr.responseText!="upload/"){
     			$("#upload_url").val(xhr.responseText);
     			$("#upload").attr("name","");
     		}
   		}
		//进度条
		 xhr.upload.onprogress = function(evt){
            var lod = evt.loaded;
            var tal = evt.total;
            var per = Math.floor((lod/tal)*100) + "%";
            $('.progress-bar').html(per);
            $('.progress-bar').css('width',per);
      	  }
		xhr.open('post',url);
        xhr.send(form);
	}
	/*
	 * 提交验证
	 */
	$('.jiben_submit').click(function(){
		if($('.progress-bar').html()!="0%" && $('.progress-bar').html()!="100%"){
			$('#jiben_warning').show();
			$('#jiben_warning font').html('请等待附件上传完成再提交!');
			return false;
		}
	});

</script>

</body>
</html>
