<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="<?php echo DATA_IMG_URL;?>/vinda.ico">
    <link rel="stylesheet" type="text/css" href="<?php echo DATA_JS_URL;?>/layui/css/layui.css" />
    <script type="text/javascript" src="<?php echo DATA_JS_URL;?>/layui/layui.js"></script>
    <script type="text/javascript" src="<?php echo DATA_JS_URL;?>/jquery-1.11.3.min.js"></script>
    <title>班产报表</title>
<style>
.layui-table{
  text-align: center;
}
.layui-table-header th{
  font-size: 20px;
  text-align: center;
}
.site-block {
  padding: 20px;
  border: 1px solid #eee;
}
.layui-inline{
  margin-bottom: 15px !important;
}
.red{
  color: #dc5236;
}
.bg-c{
  background: #dbdbdb;
}
</style>
</head>
<body class="fadeIn animated">

<div class="layui-tab layui-tab-brief">
    <include file="Public/nav" /> 

	  <div class="layui-tab-content">
	    <div class="layui-tab-item layui-show" id="add">
        <form class="layui-form layui-form-pane" lay-filter="fm">
          <div class="site-text site-block">
            <label>基础信息</label>
            <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">姓名</label>
                  <div class="layui-input-inline">
                    <input type="text" autocomplete="off" class="layui-input bg-c" disabled="disabled" value="<?php echo $name;?>">
                  </div>
                </div>
                <div class="layui-inline">
                  <label class="layui-form-label">机台编号</label>
                  <div class="layui-input-inline">
                    <select lay-filter="jt_num" name="jt_num" id="jt_num" lay-verify="required">
                      <?php for($i=1;$i<=5;$i++){?>
                      <option value="<?php echo $i;?>" <?php if($data['jt_num']==$i)echo 'selected';?>><?php echo $i;?></option>
                      <?php };?>
                    </select>
                  </div> 
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">规格(mm)</label>
                    <div class="layui-input-inline">
                      <input type="text" id="guige" lay-filter="guige" name="guige" autocomplete="off" class="layui-input bg-c" lay-verify="required|number" readonly="readonly" value="<?php if(empty($data['guige'])){echo '2680';}else{echo $data['guige'];}?>">
                    </div>
                </div>
                <div class="layui-inline">
                  <label class="layui-form-label">班次</label>
                  <div class="layui-input-inline">
                    <select lay-filter="banci" name="banci" lay-verify="required">
                      <?php for($i='A';$i<='C';$i++){?>
                      <option value="<?php echo $i;?>" <?php if($data['banci']==$i)echo 'selected';?>><?php echo $i;?></option>
                      <?php };?>
                    </select>
                  </div>
                </div>
                <div class="layui-inline">
                  <label class="layui-form-label">班组</label>
                  <div class="layui-input-inline">
                    <select lay-filter="banzu" name="banzu" lay-verify="required">
                      <?php for($i=1;$i<=4;$i++){?>
                      <option value="<?php echo $i;?>" <?php if($data['banzu']==$i)echo 'selected';?>><?php echo $i;?></option>
                      <?php };?>
                    </select>
                  </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                      <input type="text" id="date" name="date" autocomplete="off" class="layui-input" lay-verify="required" readonly="readonly">
                    </div>
                </div>
            </div>
          </div>
          <div class="site-text site-block">
    	          <label>卷纸信息</label>
                <div class="layui-form-item">  
                  <div class="layui-inline">
                    <label class="layui-form-label">生产批号</label>
                    <div class="layui-input-inline">
                      <input type="text" id="sc_num" name="sc_num" autocomplete="off" class="layui-input" lay-verify="required|number" value="<?php echo $data['sc_num'];?>">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">下纸时间</label>
                      <div class="layui-input-inline">
                          <input type="text"  id="up_date" name="up_date" autocomplete="off" class="layui-input" lay-verify="required" readonly="readonly">
                      </div>
                  </div>
                  <div class="layui-inline">
                      <label class="layui-form-label">轴重(KG)</label>
                      <div class="layui-input-inline">
                        <select id="zhouzhong" lay-filter="zhouzhong" name="zhouzhong" lay-verify="required">
                          <option value="115" <?php if($data['zhouzhong']=='115')echo 'selected';?>>115</option>
                          <option value="313" <?php if($data['zhouzhong']=='313')echo 'selected';?>>313</option>
                          <option value="1030" <?php if($data['zhouzhong']=='1030')echo 'selected';?>>1030</option>
                        </select>
                      </div>
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">产品种类</label>
                    <div class="layui-input-inline">
                      <select lay-filter="cp_class" name="cp_class" id="cp_class" lay-verify="required">
                          <?php foreach($type_info as $v):?>
                          <option value="<?php echo $v['type_name'];?>" data-num="<?php echo $v['cp_num'];?>" <?php if($data['cp_num']==$v['cp_num']) echo 'selected';?>><?php echo $v['type_name'];?></option>
                          <?php endforeach;?>
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">产品编码</label>
                    <div class="layui-input-inline">
                      <input type="text" id="cp_num" name="cp_num" autocomplete="off" class="layui-input bg-c" lay-verify="required" readonly="readonly">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">车速(m/min)</label>
                    <div class="layui-input-inline">
                      <input type="text" lay-filter="speed" name="speed" autocomplete="off" class="layui-input" lay-verify="required|speed" value="<?php echo $data['speed'];?>">
                    </div>
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">原纸张轴号</label>
                    <div class="layui-input-inline">
                      <input type="text" id="zhou_num" lay-filter="zhou_num" name="zhou_num" placeholder="选择机台和日期后自动填入" autocomplete="off" class="layui-input" lay-verify="required|yzzzh" value="<?php echo $data['zhou_num'];?>">
                    </div>
                  </div> 
                  <div class="layui-inline">
                    <label class="layui-form-label">卷长(m)</label>
                    <div class="layui-input-inline">
                        <input type="text" id="juanchang" lay-filter="juanchang" name="juanchang" autocomplete="off" class="layui-input" lay-verify="required|number" value="<?php echo $data['juanchang'];?>">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">定量(g/m3)</label>
                    <div class="layui-input-inline">
                        <input type="text" id="dingliang" lay-filter="dingliang" name="dingliang" autocomplete="off" class="layui-input bg-c" lay-verify="required|dingliang" value="<?php echo $data['dingliang'];?>" readonly="readonly">
                    </div>
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">毛重(KG)</label>
                    <div class="layui-input-inline">
                      <input type="text" id="maozhong" lay-filter="maozhong" name="maozhong" autocomplete="off" class="layui-input" lay-verify="required|number" value="<?php echo $data['maozhong'];?>">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">净重(KG)</label>
                    <div class="layui-input-inline">
                      <input type="text" id="jingzhong" lay-filter="jingzhong" name="jingzhong" autocomplete="off" class="layui-input bg-c" lay-verify="required|number|jz" value="<?php echo $data['jingzhong'];?>" readonly="readonly">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">不合格重量</label>
                    <div class="layui-input-inline">
                      <input type="text" lay-filter="buhege" name="buhege" autocomplete="off" class="layui-input" lay-verify="required|number" value="<?php if(empty($data['buhege'])){echo '0';}else{echo $data['buhege'];}?>">
                    </div>
                  </div>    
                </div>        
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">直径(mm)</label>
                    <div class="layui-input-inline">
                        <input type="text" lay-filter="zhijing" name="zhijing" autocomplete="off" class="layui-input" lay-verify="required|number"value="<?php echo $data['zhijing'];?>">
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">是否合格</label>
                    <div class="layui-input-inline">
                      <select lay-filter="is_hg" name="is_hg" lay-verify="required">
                        <option value="是" <?php if($data['is_hgis_hg']=='是')echo 'selected';?>>是</option>
                        <option value="否" <?php if($data['is_hg']=='否')echo 'selected';?>>否</option>
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">换刀情况</label>
                    <div class="layui-input-inline">
                      <select lay-filter="is_hd" name="is_hd" lay-verify="required">
                        <option value="未换刀" <?php if($data['is_hd']=='未换刀')echo 'selected';?>>未换刀</option>
                        <option value="换刀" <?php if($data['is_hd']=='换刀')echo 'selected';?>>换刀</option>
                      </select>
                    </div>
                  </div>
                </div>     
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">断头</label>
                    <div class="layui-input-inline">
                      <select lay-filter="is_dt" name="is_dt" lay-verify="required">
                        <?php for($i=0;$i<=5;$i++){?>
                        <option value="<?php echo $i;?>" <?php if($data['is_dt']==$i)echo 'selected';?>><?php echo $i;?></option>
                        <?php };?>
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">皱纹级别</label>
                    <div class="layui-input-inline">
                      <select lay-filter="zz_level" name="zz_level" lay-verify="required">
                        <?php for($i='A';$i<='C';$i++){?>
                        <option value="<?php echo $i;?>" <?php if($data['zz_level']==$i)echo 'selected';?>><?php echo $i;?></option>  
                        <?php }?>
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">下道工序</label>
                    <div class="layui-input-inline">
                      <select lay-filter="next" name="next" id="next" lay-verify="required">
                          <?php foreach($next_info as $v):?>
                          <option value="<?php echo $v['next_name'];?>" "<?php if($data['next']==$v['next_name']) echo 'selected';?>><?php echo $v['next_name'];?></option>
                          <?php endforeach;?>
                      </select>
                    </div>
                  </div>
                </div> 
                <div class="layui-form-item">
                  <label class="layui-form-label">备注</label>
                  <div class="layui-input-block" style="width:850px;">
                    <textarea class="layui-textarea" lay-filter="bz" name="bz" lay-verify="bz"><?php echo $data['bz'];?></textarea>
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-input-block">
                    <button type="button" lay-submit class="layui-btn" lay-filter="*">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                  </div>
                </div>
          </div>
        </form>
      </div>
	  </div>
</div> 
	
</body>
<script type="text/html" id="bar">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>


$(function(){
  //产品种类对应编号json
  json_type_info='<?php echo $json_type_info;?>';
  json_type_info=$.parseJSON(json_type_info);
  var type_name=$("#cp_class").val();
  for(var i in json_type_info)
  {
      if(type_name==json_type_info[i]['type_name'])
      {
          $("#cp_num").val(json_type_info[i]['cp_num']);
      }
  }
});

//选项卡、表单
layui.use(['element','form','laydate'], function(){
  var element = layui.element,form=layui.form,laydate =layui.laydate;
  //日期
  laydate.render({
    elem: '#date',
    value:new Date(),
    done:function(value, date, endDate){
      yzzzh(true);
    }
  });
  laydate.render({
    elem: '#up_date',
    type: 'time',
    value:new Date()
  });

  //选择机台后规格赋值
  form.on('select(jt_num)', function(data){
     data.value<=4?$("#guige").val("2680"):$("#guige").val("3400"); 
     yzzzh(true);
  });   
  //选择轴重后算净重、定量
  form.on('select(zhouzhong)', function(data){
     jz();
     dl();
  });  
  //改变毛重后算净重、定量
  $("#maozhong").keyup(function(){
    jz();
    dl();
  }); 
  //卷长改变后改变定量
  $("#juanchang").keyup(function(){
     dl();
  });


  //选择产品种类后改变编号   
  form.on('select(cp_class)', function(data){
     var type_name=data.value;
     for(var i in json_type_info)
     {
        if(type_name==json_type_info[i]['type_name'])
        {
            $("#cp_num").val(json_type_info[i]['cp_num']);
        }
     }
  });    


  //表单验证
  form.verify({
    speed:function(v,item){
      if(!/^[0-9]{4}$/.test(v)){
        return "车速必须是4位数值!";
      }
    },
    dingliang:function(v,item){
      if(!/^([0-9]*)\.([0-9]{2})$/.test(v)){
        return "定量错误，不能为负数并且保留2位小数!";
      }
    },
    bz:function(v,item){
      if(v.length>90)
      {
        return "备注不能超过90个字符!";
      }
    },
    yzzzh:function(v,item){
      if(v.substring(0,9)!=yzzzh(false))
      {
        return "原纸张轴号前9位错误，开头应该为:"+yzzzh(false);
      }
    },
    jz:function(v,item){
      if(v<0)
      {
        return "净重错误，净重=毛重-轴重";
      }
    }
  });


  //提交
  form.on('submit(*)', function(data){
    var form = layui.form;
    $.post("<?php echo U('add');?>",data.field,function(res){
        if(res==1)
        {
            layer.msg('添加成功', {
              icon: 1,
              time: 1000
            }, function(){
               location.href="<?php echo U('mylist');?>";
            });     
        }else{
            layer.alert(res, {icon: 5});
        }
    });   
    return false; //阻止表单跳转。
  });
});

//原纸张轴号计算
 function yzzzh(is_change){
    var a="S";
    var b="0"+$("#jt_num").val();
    var date=$("#date").val();
    var c=date.substr(2,2)+date.substr(5,2)+date.substr(8,2);
    var res=a+b+c;
    if(is_change==true)
    {
      $("#zhou_num").val(res);
    }
    return res;
 }
//净重计算
//毛重-轴重
function jz(){
  var mz=$("#maozhong").val();
  var zz=$("#zhouzhong").val();
  var jz=mz-zz;
  $("#jingzhong").val(jz);
}
//定量计算
//定量=净重/规格/卷长/0.95% 
function dl(){
  var jz=$("#jingzhong").val();
  var gg=$("#guige").val()/1000;
  var jc=$("#juanchang").val();
  var dl=jz/gg/jc/0.95*1000;
  dl=dl.toFixed(2);
  $("#dingliang").val(dl);
}


</script>
</html>
